@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    background-color: #005CA9;
}
 */

.mulish-font {
    font-family: 'Mulish', sans-serif;
}

.white-page {
    background-color: #fff;
}

.text-blue {
    color: #005CA9;
    font-size: 16px;
    font-weight: 900;
}

.text-concrete {
    color: #7F8C8D;
    font-weight: 800;
}

.text-gray {
    color: #2D3436;
}

.font-weigt-700 {
    font-weight: 700;
}

.font-weigt-800 {
    font-weight: 800;
}

.big-text {
    font-size: 32px;
}

.medium-text {
    font-size: 16px;
    font-weight: 500;
    color: #2D3436;
}

.fifteen-text {
    font-size: 15px;
    font-weight: 800;
    color: #fff;
}

.small-text {
    font-size: 11px;
    color: #2D3436;
    font-weight: 500;
}

.voltar {
    font-weight: 800;
    text-decoration: underline;
    text-underline-offset: 4px;
}


.qr-code-size {
    width: 236px;
    height: 236px;
}

.button-red {
    color: #EB3B5A;
    border: 2px solid #EB3B5A;
    border-radius: 32px;
    padding: 12px 28px;
    font-size: 12px;
    font-weight: 900;
}